<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pro.mxpro.mybatis.MessageMapper">
	<select id="getUserId" resultType="int">
		SELECT ID FROM USERINFO WHERE nickname= #{nickname}
	</select>
	
	<select id="getUserNick" resultType="int">
		SELECT NICKNAME FROM USERINFO WHERE ID= #{id}
	</select> 
	
	<select id="countMessage" resultType="Integer">
		SELECT count(room_no) count from message where room_no = #{mymsgId}
	</select>
	
	<select id="getMessage" resultType="messageVO">
		SELECT t.* FROM
		(
		SELECT a.MYMSG_ID,a.PARTICIPANT1,a.PARTICIPANT2,b.SPEAKER,b.MSG_LOG,b.MESSAGE_ID,CONVERT_TZ(b.MSG_DATE, "+0:00", "-9:00") MSG_DATE
		FROM(
			SELECT MYMSG_ID,PARTICIPANT1,PARTICIPANT2 FROM MYMSG
			WHERE MYMSG_ID = #{mymsgId}
			) a
			JOIN MESSAGE b ON a.MYMSG_ID = b.ROOM_NO  ORDER BY b.MSG_DATE DESC LIMIT #{page},10 
		) t
		ORDER BY MESSAGE_ID
	</select>  
	
	<select id="chkMymsg" resultType="Integer">
		SELECT MYMSG_ID FROM MYMSG 
		WHERE PARTICIPANT1 = #{participant1} AND PARTICIPANT2 = #{participant2}
			OR PARTICIPANT1 = #{participant2} AND PARTICIPANT2 = #{participant1} 
	</select>
	
	<insert id="newMymsg">
		INSERT INTO MYMSG(PARTICIPANT1,PARTICIPANT2) VALUES (#{participant1},#{participant2})
	</insert>		
	
	<select id="getAllMsg" resultType="messageVO">
		SELECT t1.MYMSG_ID,t1.PARTICIPANT1,t1.nickname nickname1,t1.PARTICIPANT2,t2.nickname nickname2,t2.UPDATE_DATE FROM
		(SELECT * FROM MYMSG a JOIN USERINFO b 
		ON a.PARTICIPANT1 = b.id) t1
		JOIN 
		(SELECT * FROM MYMSG a JOIN USERINFO b 
		ON a.PARTICIPANT2 = b.id) t2
        ON t1.mymsg_id = t2.mymsg_id
 		WHERE t1.PARTICIPANT1 = #{id} OR t2.PARTICIPANT2 = #{id}
        ORDER BY t2.UPDATE_DATE DESC
	</select>
	 
	<insert id="insertMsg" parameterType="messageVO">
		INSERT INTO MESSAGE(ROOM_NO,SPEAKER,MSG_LOG) VALUES (#{mymsgId},#{speaker},#{msgLog})	
	</insert>
</mapper>